# ide
.vscode/
.idea/
.trae/

# python
__pycache__/
.venv/
venv/
env/

# build
dist/
build/
last_open_file.txt

# nodejs x nextjs
node_modules/
.next/
out/
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*

# env x secrets
.env
*.env
secrets/

# docker
.docker/
docker-compose.override.yml

# logs
logs/
*.log
pip-log.txt

# temp
temp/
*.tmp

# db
*.db
*.sqlite

# lint
#.markdownlint.yaml
#.markdownlint.yml

# proto
*_pb2.py
*_pb2_grpc.py
 